http:
  middlewares:
    security-headers:
      headers:
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000
        browserXssFilter: true
        contentTypeNosniff: true
        frameDeny: true
        sslRedirect: true

    dashboard-auth:
      basicAuth:
        users:
          - "admin:{{ traefik_admin_password }}"
